<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Contactos</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body class="container" style="margin-top: 50px;">

    <% if (messages.success) { %>
    <div class="alert alert-success" role="alert"><%- messages.success %></div>
    <% } %>

    <% if (messages.error) { %>
    <div class="alert alert-danger" role="alert"><%- messages.error %></div>
    <% } %>

    <div class="card">
        <div class="card-header">
            <ul class="nav nav-pills w-100">
                <li class="nav-pill active">
                    <a class="nav-link">Contactos</a>
                </li>
                <li class="nav-pill ml-auto">
                    <a class="nav-link active" href="/contactos/agregar">Agregar Contacto</a>
                </li>
            </ul>
        </div>
    <div class="card-body">

        <% if(data.length) { %>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Numero</th>
                    <th width="200px">Acciones</th>
                </tr>
            </thead>
            <tbody>
            <% for(var i = 0; i< data.length; i++) { %>
                <tr>
                    <th scope="row"><%= (i+1) %></th>
                    <td><%= data[i].nombre%></td>
                    <td><%= data[i].apellido%></td>
                    <td><%= data[i].correo%></td>
                    <td><%= data[i].numero%></td>
                    <td>
                        <a class="btn btn-success edit" href="../contactos/editar/<%=data[i].id%>">Editar</a>
                        <a class="btn btn-danger delete" onclick="return alert('¿Estas seguro?')" href="../contactos/delete/<%=data[i].id%>">Eliminar</a>
                    </td>
                </tr>
            <% } %>
            </tbody>
        </table>
        <% } %>

        <!-- if result is empty -->
        <% if(!data.length) { %>
            <p class="text-center">No hay Contactos!</p>
        <% } %>

        </div>
    </div>

</body>
</html>